article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  app-city-search {
    width: 450px;
  }

  .hint {
    margin-top: 20px;
    color: #424242;
    font-size: 0.85em;
    text-align: center;
    max-width: 400px;
  }
}

@media screen and (max-width: 525px) {
  article {
    app-city-search {
      width: 100%;
    }

    .hint {
      margin: 20px;
    }
  }
}
